@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@import './sakai.css';

@custom-variant dark (&:is(.dark *, .p-dark *));

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

body,
html {
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
}
